In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import baseballstats

In [2]:
players = pd.read_csv("baseballdatabank-2022.2/core/People.csv")
players['playerID'] = players['playerID'].astype(pd.StringDtype())
for i, col in enumerate(players.columns):
    print(col, players.dtypes[i])

playerID string
birthYear float64
birthMonth float64
birthDay float64
birthCountry object
birthState object
birthCity object
deathYear float64
deathMonth float64
deathDay float64
deathCountry object
deathState object
deathCity object
nameFirst object
nameLast object
nameGiven object
weight float64
height float64
bats object
throws object
debut object
finalGame object
retroID object
bbrefID object

In [3]:
for player in players['playerID'].head(10):
    print(player)
    try:
        baseballstats.verify_player(player)
        print("worked!")
    except:
        print("nope :-(")

aardsda01
worked!
aaronha01
worked!
aaronto01
worked!
aasedo01
worked!
abadan01
worked!
abadfe01
worked!
abadijo01
worked!
abbated01
worked!
abbeybe01
worked!
abbeych01
worked!

In [5]:
baseballstats.AVG('aardsda01')

Found them!

In [5]:
players.head()

,playerID,birthYear,birthMonth,birthDay,birthCountry,birthState,birthCity,deathYear,deathMonth,deathDay,...,nameLast,nameGiven,weight,height,bats,throws,debut,finalGame,retroID,bbrefID
0,aardsda01,1981.0,12.0,27.0,USA,CO,Denver,NaN,NaN,NaN,...,Aardsma,David Allan,215.0,75.0,R,R,2004-04-06,2015-08-23,aardd001,aardsda01
1,aaronha01,1934.0,2.0,5.0,USA,AL,Mobile,2021.0,1.0,22.0,...,Aaron,Henry Louis,180.0,72.0,R,R,1954-04-13,1976-10-03,aaroh101,aaronha01
2,aaronto01,1939.0,8.0,5.0,USA,AL,Mobile,1984.0,8.0,16.0,...,Aaron,Tommie Lee,190.0,75.0,R,R,1962-04-10,1971-09-26,aarot101,aaronto01
3,aasedo01,1954.0,9.0,8.0,USA,CA,Orange,NaN,NaN,NaN,...,Aase,Donald William,190.0,75.0,R,R,1977-07-26,1990-10-03,aased001,aasedo01
4,abadan01,1972.0,8.0,25.0,USA,FL,Palm Beach,NaN,NaN,NaN,...,Abad,Fausto Andres,184.0,73.0,L,L,2001-09-10,2006-04-13,abada001,abadan01

In [6]:
print(players['playerID'])

0        aardsda01
1        aaronha01
2        aaronto01
3         aasedo01
4         abadan01
           ...
20365     zupofr01
20366    zuvelpa01
20367    zuverge01
20368    zwilldu01
20369     zychto01
Name: playerID, Length: 20370, dtype: string